*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --primary-color: #5d3bee;
    --heading-color: #080415;
    --text-color: #51586a;
    --section-spacing: 140px;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
}

p {
    color: var(--text-color);
}

.container {
    overflow-x: hidden;
    overflow-y: visible;
}

.container-header {
    width: min(1330px, 100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 62px;
    --width: 170px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: var(--width);
    height: var(--height);
    line-height: var(--height);
    color: #fdfdfd;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.67; /* 166.667% */
    background: var(--primary-color);
    transition: background-color 0.25s, opacity 0.25s;
}

.btn:hover {
    background: var(--primary-color);
    opacity: 0.9;
    cursor: pointer;
}

.btn--primary {
    color: var(--heading-color) !important;
    background: #fff;
}
.btn--primary:hover {
    background: var(--heading-color);
    color: #fff !important;
}

.section-heading--center,
.section-heading {
    max-width: 570px;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.18; /* 117.857% */
    letter-spacing: -2.24px;
}

.section-heading--center {
    text-align: center;
}

.section-desc--center,
.section-desc {
    max-width: 570px;
    margin-top: 20px;
    font-size: 1.8rem;
    line-height: 1.67;
}

.section-desc--center {
    text-align: center;
}
@keyframes move {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-8px);
    }
}

@keyframes moveOut {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(8px);
    }
}

/* Header */
.header.fixed {
    background: #fff;
    position: sticky;
    top: -10px;
    z-index: 99;
    padding-bottom: 10px;
}

.header {
    padding-top: 20px;
}

.header__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__left {
    position: relative;
    display: flex;
    align-items: center;
}

.header__mail {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.header__mail-wrap {
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(93, 59, 238, 0.2);
    border-radius: 50%;
}

.header__mail-desc {
    color: #080415;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36; /* 136.364% */
    text-decoration-line: underline;
}

.logo {
    margin-left: 357px;
}

.navbar__list {
    display: flex;
    margin-left: 200px;
}

.navbar__link {
    position: relative;
    color: var(--text-color);
    padding: 8px 22px;
    line-height: 1.75;
    transition: text-shadow 0.25s;
}

.navbar__link--active,
.navbar__link:hover {
    color: var(--heading-color);
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
    content: "";
    position: absolute;
    bottom: 5px;
    height: 1px;
    width: 47px;
    border-radius: 0.5px;
    background: var(--primary-color);
}

/* Hero */
.hero {
    padding-top: 44px;
    overflow: hidden;
}

.hero .container {
    overflow-x: visible;
}

.hero__inner {
    display: flex;
    align-items: end;
    column-gap: 156px;
}

.hero__img-wrap {
    position: relative;
    width: 514px;
    height: 705px;
    object-fit: cover;
}

.hero__img {
    width: 100%;
}

.hero__decor-1 {
    z-index: -1;
    left: -270px;
    top: 0;
}

.hero__heading {
    max-width: 500px;
    font-size: 8rem;
    line-height: 0.95;
    letter-spacing: -3.2px;
}

.hero__desc {
    max-width: 370px;
}

.hero__row {
    margin-top: 50px;
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.hero__link {
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.67; /* 166.667% */
    text-decoration-line: underline;
}

.hero__bottom {
    position: relative;
    margin-top: 109px;
    margin-bottom: 38px;
    display: flex;
    column-gap: 15px;
    align-items: center;
}

.hero__bottom-desc {
    font-weight: 500;
    line-height: 1.88; /* 187.5% */
}

.hero__list {
    position: relative;
    display: flex;
    column-gap: 20px;
}

.hero__social {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #0804151a;
}

.hero__decor {
    position: absolute;
    bottom: 0;
}

.hero__decor-2 {
    right: -450px;
    bottom: -38px;
}

/* Clients */
.clients {
    margin-top: 100px;
}

.clients__heading {
    max-width: 353px;
    padding-left: 100px;
    margin-right: auto;
    position: relative;
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 1.189; /* 119.048% */
    letter-spacing: -1.68px;
}

.clients__heading::before {
    position: absolute;
    top: 25px;
    left: 0px;
    content: "";
    display: inline-block;
    width: 86px;
    height: 2px;
    background: var(--primary-color);
}

.clients__left,
.clients__right,
.clients__list {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 44px;
}

.clients__list {
    column-gap: 71px;
}

.clients__left {
    column-gap: 68px;
}

.clients__right {
    column-gap: 36px;
}

.special {
    margin-top: var(--section-spacing);
}

.special__top {
    margin: 0 auto;
}

.special__body {
    margin-top: 60px;
}

.special__item {
    padding: 32px 42px;
    background: #fbfaff;
}

.special__icon-wrap {
    width: 74px;
    height: 74px;
    background: #fff;
    border: 1px solid #0804150d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.special__item-heading {
    margin-top: 22px;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
    letter-spacing: -1.28px;
}

.special__item-desc {
    margin-top: 15px;
    max-width: 285px;
    font-size: 1.8rem;
    line-height: 1.67; /* 166.667% */
}

/* Project */
.project {
    margin-top: var(--section-spacing);
    background: var(--primary-color);
}

.project__top {
    margin-top: 86px;
    display: flex;
    align-items: center;
    column-gap: 160px;
}

.project__body {
    margin-top: 70px;
}

.project__desc,
.project__heading {
    color: #fff;
}

.project__desc {
    max-width: 370px;
    opacity: 0.7;
}

.project__item {
    position: relative;
    padding: 22px;
    background: #fbfaff;
    display: flex;
    align-items: center;
    column-gap: 47px;
}

.project__item-heading {
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
    letter-spacing: -1.28px;
}

.project__item-desc {
    margin: 10px 0 20px;
    max-width: 220px;
    line-height: 1.44; /* 143.75% */
}

.project__item-link {
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.67; /* 166.667% */
}

.project__item-link:hover {
    text-decoration-line: underline;
}

.project__item-media {
    width: 246px;
    height: 187px;
}

.project__item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project__item-decor {
    position: absolute;
    right: 0;
}

.project__bottom {
    margin: 80px auto 86px;
}

/* Journey */
.journey {
    margin-top: var(--section-spacing);
}

.journey__top {
    margin: 0 auto;
}

.journey__label {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    column-gap: 9px;
    text-align: center;
    justify-content: center;
}

.journey__label-desc {
    color: #5d3bee;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
    letter-spacing: -1.28px;
}

.journey__details-wrap {
    position: relative;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #0804151a;
}

.journey__details-wrap::before {
    content: "";
    position: absolute;
    top: 53px;
    width: 100%;
    height: 1px;
    background: #0804151a;
}

.journey__details {
    margin-top: 70px;
    height: auto;
}

.journey__details-num {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.36; /* 135.714% */
    letter-spacing: 1.68px;
    text-decoration-line: underline;
}

.journey__details-desc {
    color: #51586a;
    font-size: 1.8rem;
    line-height: 1.67; /* 166.667% */
}

.journey__video {
    position: relative;
}

.journey__video video {
    margin-top: 70px;
    height: 628px;
    object-fit: cover;
}

.video__intro {
    position: absolute;
    bottom: 10px;
    right: 31px;
    color: var(--text-color);
    text-transform: uppercase;
    background: #fff;
}

.video__intro:hover {
    opacity: 0.9;
    background: #fff;
}

.video__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 111px;
    height: 111px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 111px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(12px);
    cursor: pointer;
}
